ExportService/Connected Services/ErrorService/ErrorSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetActions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActionsResult" type="tns:GetActionResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetActionResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsIT" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Ignore" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Registry" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetActionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetActions" />
  </wsdl:message>
  <wsdl:message name="GetActionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetActionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ErrorSearchSoap">
    <wsdl:operation name="GetActions">
      <wsdl:input message="tns:GetActionsSoapIn" />
      <wsdl:output message="tns:GetActionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ErrorSearchSoap" type="tns:ErrorSearchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActions">
      <soap:operation soapAction="http://tempuri.org/GetActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ErrorSearchSoap12" type="tns:ErrorSearchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActions">
      <soap12:operation soapAction="http://tempuri.org/GetActions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErrorSearch">
    <wsdl:port name="ErrorSearchSoap" binding="tns:ErrorSearchSoap">
      <soap:address location="http://192.168.130.22:8017/ErrorSearch.asmx" />
    </wsdl:port>
    <wsdl:port name="ErrorSearchSoap12" binding="tns:ErrorSearchSoap12">
      <soap12:address location="http://192.168.130.22:8017/ErrorSearch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>