ExportService/Connected Services/FNB_EFP/FNBEFPPassthroughWS_Prod.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FNBEFPPassthroughWS_Prod" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.130.22:9968/FNBEFPPassthroughWS_Prod.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.130.22:9968/FNBEFPPassthroughWS_Prod.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExportWebService_Marco_InputMessage">
    <wsdl:part name="parameters" element="tns:Marco" />
  </wsdl:message>
  <wsdl:message name="IExportWebService_Marco_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarcoResponse" />
  </wsdl:message>
  <wsdl:message name="IExportWebService_CreateScheme_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateScheme" />
  </wsdl:message>
  <wsdl:message name="IExportWebService_CreateScheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSchemeResponse" />
  </wsdl:message>
  <wsdl:message name="IExportWebService_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IExportWebService_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IExportWebService_CreateGroupPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupPolicy" />
  </wsdl:message>
  <wsdl:message name="IExportWebService_CreateGroupPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IExportWebService">
    <wsdl:operation name="Marco">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportWebService/Marco" message="tns:IExportWebService_Marco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportWebService/MarcoResponse" message="tns:IExportWebService_Marco_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateScheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportWebService/CreateScheme" message="tns:IExportWebService_CreateScheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportWebService/CreateSchemeResponse" message="tns:IExportWebService_CreateScheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportWebService/CreateGroup" message="tns:IExportWebService_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportWebService/CreateGroupResponse" message="tns:IExportWebService_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroupPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IExportWebService/CreateGroupPolicy" message="tns:IExportWebService_CreateGroupPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExportWebService/CreateGroupPolicyResponse" message="tns:IExportWebService_CreateGroupPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExportWebService" type="tns:IExportWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Marco">
      <soap:operation soapAction="http://tempuri.org/IExportWebService/Marco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScheme">
      <soap:operation soapAction="http://tempuri.org/IExportWebService/CreateScheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/IExportWebService/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroupPolicy">
      <soap:operation soapAction="http://tempuri.org/IExportWebService/CreateGroupPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FNBEFPPassthroughWS_Prod">
    <wsdl:port name="BasicHttpBinding_IExportWebService" binding="tns:BasicHttpBinding_IExportWebService">
      <soap:address location="http://192.168.130.22:9968/FNBEFPPassthroughWS_Prod.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>